@model introAspNetModule3.Models.Seat;

@{
    ViewData["Title"] = "View";
}

<h1>Welcome to my Threate</h1>
<h2>My Index View Page "CJ Movies"</h2>

<h3>CJ's Threate Location is @Model.Location &Aacute; Price is so Low only @Model.Price!!!!! rupee</h3>



